@import 'variables';
@import '../../node_modules/bulma/bulma';

.is-blue {
  @extend .is-info;
  background-color: $blue;
  color: $white;
}

.scene {
  background-size: cover;
  background-position: center;
  background-color: $grey-light;

  .description {
    max-height: 500px;
    overflow-y: auto;
  }
  
  .box {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

.entrance {
  @extend .scene;
  background-image: url(/images/entrance.jpg);
  background-position-y: 100%;
}

.duck-pond {
  @extend .scene;
  background-image: url(/images/duck-pond.jpg);
  background-position-y: 80%;
}